body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #00563F;
    color: white;
    text-align: center;
    padding: 20px;
  }
  
  nav {
    background-color: #BFBFBF;
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 10px;
  }
  
  nav a {
    display: block;
    color: #333;
    padding: 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    background-color: #333;
    color: white;
  }
  
  section {
    margin: 20px;
  }
  
  section h2 {
    color: #00563F;
  }
  
  footer {
    background-color: #BFBFBF;
    color: #333;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
  }